<div class="ec-nav" style="height: auto;">
  <h2 class="ec-nav-title">{{ data.page.title }}</h2>

  {% if data.page._children | length %}
      <ul class="ec-nav-ul">
      {% for child in data.page._children %}
        <li class="ec-nav-child"><a href="{{ child.slug }}"><h3>{{ child.title }}</h3></a>
          {% if child._children | length %}
            <ul class="ec-nav-grand">
              {% for grand in child._children %}
              <li><a href="{{ grand.slug }}"><h4>{{ grand.title }}</h4></a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>

      {% endfor %}
      </ul>
  {% endif %}
</div>