<div class="ec-nav" style="border:1px solid #000;height: auto;">
  <h3 id="ec-nav-title">{{ data.page.title }}</h3>

  {% if data.page.orphan == false %}
      <ul class="ec-nav-ul">
      {% for child in data.page._children %}
        <li class="ec-nav-child"><a href="{{ child.slug }}">{{ child.title }} </a>
          {% if child.orphan == false %}
            <ul class="ec-nav-grand">
              {% for grand in child._children %}
              <li><a href="{{ grand.slug }}">{{ grand.title }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>

      {% endfor %}
      </ul>
  {% endif %}
</div>