<div class="ec-nav" style="border:1px solid #000;height: auto;">
  <h3 id="ec-nav-title">{{ data.page.title }}</h3>
    <div class="ec-nav-body">
      {% if data.page.orphan == false %}
      <ul>
        <a href="javascript:void(0);" class="visible-xs-inline icon" onclick="myFunction()"><i class="fa fa-bars"></i> Page Menu</a>
      {% for child in data.page._children %}
        <li style="position: relative;"><span><a href="{{ child.slug }}">{{ child.title }}</a></span>
          {% if child.orphan == false and data.widget.hideChildren == false %}
            <ul class="ec-nav-grand">
              {% for grand in child._children %}
              <li><span><a href="{{ grand.slug }}">{{ grand.title }}</a></span></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
</div>