@ec-nav-active: #57667B;
@ec-nav-button-bg: #56667c;
@ec-nav-button-bg-active: #fff;

.ec-nav {
	padding: 0px 5px;
	background-color: @ec-nav-bg;

	ul li ul {
		display: block;
	}

	ul>li span:hover {
	    display: block;
	    width: 100%;
		background-color: @ec-nav-hover;
		ul>li span:hover {
			display: block;
		    width: 100%;
			background-color: @ec-nav-hover;
		}
	}
	
	a:link {
		text-decoration: none;
		color: @ec-nav-font-color;
	}
	a:visited {
		text-decoration: none;
		color: @ec-nav-font-color;
	}
	a:hover {
	    color: @ec-nav-font-color;
	}

	a:active {
	    text-decoration: none;
	}
}
.ec-nav-body .icon {
	display:none;
    background: @ec-nav-button-bg;
    padding: 7px 12px;
    color: @ec-nav-bg !important;
    border: 3px solid @ec-nav-bg;
}
.ec-nav-body .icon:focus {
    background: @ec-nav-button-bg-active;
    padding: 7px 12px;
    color: @ec-nav-button-bg !important;
    border: 3px solid @ec-nav-button-bg;
}

.ec-nav-grand {
	position: relative;
	padding: 1px 10px;
	font-size: 90%;
}

@media screen and (max-width: 767px) {
	.ec-nav-body li {
		display: none;
	}
}
