h2.ec-nav-title {
	font-size: 3em !important;
	color: red;
}


.ec-nav {
	border: 1px solid;
	padding: 0px 5px;
	background-color: #000;

	h2.ec-nav-title {
		font-size: 3em !important;
	}
	ul li ul {
		display: block;
	}

	ul>li span:hover {
	    display: block;
	    width: 100%;
		background-color: #000;
		ul>li span:hover {
			display: block;
		    width: 100%;
			background-color: #000;
		}
	}
	
	a:link {
		text-decoration: none;
		color: #000;
	}
	a:visited {
		text-decoration: none;
		color: #000;
	}
	a:hover {
	    color: #000;
	}

	a:active {
	    text-decoration: none;
	}
}

@media screen and (max-width: 767px) {
	.ec-nav-body li {
		display: none;
	}
}
